div{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}:hover{
    transform: rotate(360deg);
}::selection{
    color: aquamarine;
}