/* body{
  background-image: url(/src/assets/bgImage.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
} */

body, .loginButton, .registerbtn, .forgetbtn{
  font-family: sans-serif;
  ::selection {
    color: black;
    background: rgb(0, 157, 255);
  }
}

h1{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.container {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0%;
  
}

/* .productImage {
  width: 35vw; 
  height: 80vh;
  border-radius: 50px 0px 0px 50px; 
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0.2, 0.2, 0.2, 0.2);
} */

.div2 {
  width: 100vw;
  margin-top: 50px;
  margin-left: 70%;
  margin-right: 50px;
  padding: 25px 0px 50px  15px;
  box-shadow: 6px  8px 12px 20px rgba(0.2, 0.2, 0.2, 0.2);
  border-radius: 50px ; 
  box-sizing: border-box;
}

.inptext{
  background-color: #fff;
  margin-left: 23%;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-color: transparent;
}

.inppass{
  background-color: #fff;
  outline: none;
  border-color: transparent;
  margin-left: 15%;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.forgetbtn, .registerbtn{
  width: 25vw;
  height: 5vh;
  border-radius: 100px;
  border-style: hidden;
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(0, 157, 255);
}

.loginButton{
  margin: 30px 0 -10px 150px;
  border: transparent;
  border-radius: 50px;
  background-color: rgb(0, 157, 255);
  font-weight: 500px;
  font-size: 25px;
  transition: width 2s, height 2s, transform 1s;
  cursor: pointer;
  box-sizing: border-box;
}
.loginButton:hover{
  transform:rotate3d(360deg);

}

