/* body{
    background-image: url(https://images.unsplash.com/photo-1721679242133-4574b1408b94?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
    background-size: contain;
    
    
}
body{
    color: white;
    background-color: transparent;
} */
